dialog:not([open]) {
  display: none;
}

[data-modal] {
  padding: 0;
  border: 0;

  position: fixed;
  left: 10vw;
  right: 10vw;
  top: 10vh;
  max-width: 80vw;
  max-height: 80vh;
  box-sizing: border-box;
  overflow: auto;
  margin: auto;
  background-color: white;
  transition: opacity 0.3s, transform 0.3s;
}

[data-modal][open] {
  animation: modal--opening 0.3s;
  display: block;
  z-index: 9999;
}

[data-modal]::backdrop {
  animation: modal-backdrop--opening 0.3s;
  transition: opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
}
[data-modal] + dialog-backdrop {
  animation: modal-backdrop--opening 0.3s;
  transition: opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
}

[data-modal='closing'] {
  opacity: 0;
  transform: translateY(-5vh);
  pointer-events: none;
}
[data-modal='closing']::backdrop {
  opacity: 0;
  pointer-events: none;
}
[data-modal='closing'] + dialog-backdrop {
  opacity: 0;
  pointer-events: none;
}

[data-contains-modal] {
  overflow: hidden;
}

@keyframes modal-backdrop--opening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal--opening {
  0% {
    opacity: 0;
    transform: translateY(-5vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
